<div class="container">
    <div class="left-side">
        <img src="assets/signin-bg.png" alt="Keyboard Image" />
    </div>
    <div class="right-side">
        <div class="form-box">
            <img src="assets/login-logo.png" alt="Logo" class="logo" />
            <h2>Forgot Password?</h2>
            <p>Please enter your email address.</p>
            <form>
                <input type="email" placeholder="Email" required />
                <a class="back-link" routerLink="/login">Back to sign in?</a>
                <button type="submit">SUBMIT REQUEST</button>
            </form>
        </div>
    </div>
</div>